<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres?currentSchema=my_budget</property>
        <property name="connection.username">my_budget_app</property>
        <property name="connection.password">asd</property>
        <property name="connection.pool_size">8</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="show_sql">true</property>
        <property name="current_session_context_class">thread</property>

        <mapping class="ru.pamishenko.myBudget.entitys.Product"/>
        <mapping class="ru.pamishenko.myBudget.entitys.Purchase"/>
        <mapping class="ru.pamishenko.myBudget.entitys.Rolle"/>
        <mapping class="ru.pamishenko.myBudget.entitys.Saler"/>
        <mapping class="ru.pamishenko.myBudget.entitys.User"/>
        <mapping class="ru.pamishenko.myBudget.entitys.Type"/>
        <mapping class="ru.pamishenko.myBudget.entitys.Cathegory"/>
        <mapping class="ru.pamishenko.myBudget.entitys.ProductUnit"/>
    </session-factory>
</hibernate-configuration>